{
  "flatmates": [
    "Nummer 1",
    "Nummer 2",
    "Nummer 3",
    "Nummer 4",
    "Nummer 5",
    "Nummer 6",
    "Nummer 7",
    "Nummer 8",
    "Nummer 9",
    "Nummer 10",
    "Nummer 11"
  ],
  "starting_date": "2021-04-19"
}
